#contentcontainer{
    background-color: white;
    width: 70%;
    height: 1150px;
    
}

#products {
    width: 100%;
    border: grey solid 2px;
    height: 1020px;
}

#toode {
    width: 400px;
    display: inline-block;
    border: blue solid 2px;
    height: 300px;
    margin: 15px 15px 15px 15px;
}

#buttonNext {
    width: 100px;
    height: 50px;
    background-image: linear-gradient(-45deg, rgb(122, 235, 255), rgb(0, 195, 255));
    text-align: center;
    border: black solid 2px;
    color: white;
    font-family: monospace;
    font-size:30px;
}
#buttonPrevious {    
    width: 200px;
    height: 50px;
    background-image: linear-gradient(-45deg, rgb(122, 235, 255), rgb(0, 195, 255));
    text-align: center;
    border: black solid 2px;
    color: white;
    font-family: monospace;
    font-size:30px;
}

button:hover{
    opacity: 0.8;
}