#menubutton{
    width: 100%;
    background-image: linear-gradient(-45deg, rgb(122, 235, 255), rgb(0, 195, 255));
    text-align: center;
    border: black solid 2px;
    color: white;
    font-family: monospace;
    font-size:30px;
}

#menubutton:hover{
    opacity: 0.8;
}

#welcometext{
    display: inline-block;
    vertical-align: middle;
    font-family: monospace;
    font-size:30px;
}

#welcometextcontainer{
    width: 40%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#buttoncontainer{
    width: 15%;
    display: flex;
    padding: 10px 10px 10px 10px;

}

#menucontainer{
    border: black solid 2px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;

}